body {
    background-color: hsl(216, 12%, 8%);
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.body-container {
    display: flex;
    flex-direction: column;   
    background-color: transparent;    
    margin-top: 18vh;
    margin-bottom: 18vh;
    align-items: center;
}

.container {
    background-image: linear-gradient(0deg, hsl(213, 19%, 18%), hsl(213, 19%, 18%), hsl(213, 19%, 18%), hsl(213, 19%, 18%),hsl(213, 19%, 18%));
    width: 97%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    border-radius: 4.5vw;
    justify-content: space-evenly;
}

.star-container {
    display: flex;
    place-content: center;
    align-items: center;
    background-color: hsl(216, 15%, 32%);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%; 
    margin-left: 1.5em;     
}

.star-image {
    width: auto;
    height: 1em;
}

.title {
    margin: 0;
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin-left: 0.8em;    
}

.text {
    margin: 0;
    margin-left: 1.4em;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-right: 1.1em;
    line-height: 1.6em;
}

.selectors-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: hsl(216, 15%, 32%);
    border-radius: 50%;
    color: white;
    font-size: 15px;    
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit {
    width: 90%;
    height: 4em;
    border-radius: 2em;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 2em; 
    color: white;
}

.attribution a { 
    color: hsl(228, 45%, 44%); }